/* Honeypot field for smart spam bots */
    input#address {        
        /*position: absolute;
        top: 0;
        left: 0;*/
        opacity: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }


/* reCAPTCHA */
    .text-center {
        text-align: center;
    }

    .g-recaptcha {
        display: inline-block;
        margin: 1em 0 2em 0;
    }

    #g-recaptcha-response {
        display: block !important;
        position: absolute;
        margin: -78px 0 0 0 !important;
        width: 302px !important;
        height: 76px !important;
        z-index: -999999;
        opacity: 0;
    }