/* Contact */

	ul.contact {
		list-style: none;
		padding: 0;
	}

		ul.contact > li {
			padding: 0;
			margin: 1.5em 0 0 0;
		}

			ul.contact > li:first-child {
				margin-top: 0;
			}

    /* Thank you message */
    .thankyou_message > h2 {
        color: lime;
    }

    /* Facebook link styles */
    .fb {
        border: 2px solid rgba(228, 219, 219, .7);
        display: block;
        font-size: xx-large;
        height: 100%;
        max-width: 400px;
        min-width: 250px;
        /*text-shadow: 4px 4px 4px #3b5998;*/
        width: 40%;
    }
    .fb:hover {
        /*outline-color: blue;*/
        border-color: blue;
    }
    .fb:hover:active {
        transform: translateY(4px);
    }
    .fb-container {
        text-align:center;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    /* facebook icon svg */
    .fb svg {
        height: 1em;
        vertical-align: text-top;
    }
    .fb path {
        fill: rgba(255,255,255,.55);
    }
    .fb:hover path {
        fill: #fff;
        /*stroke: #3b5998;
        stroke-width: 2;*/
    }